<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CompletelyRandom.info</title>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <script src="/static/js/vendor/modernizr.js"></script>
  </head>
  <body>
  <div class="row">
  <div class="small-4 columns"><h2>CompletelyRandom.info</h2></div>
  </div>
  <div class="row">
  <div class="small-12 columns"><h5><i>Because sometimes you don't know what you want to know</i></h5></div>
  </div>
  <div class="row">
  <div class="small-12 columns">
  <dl class="tabs" data-tab>
  <dd class="active"><a href="#panel2-1">Facts</a></dd>
  <dd><a href="#panel2-2">Quotes</a></dd>
  <dd><a href="#panel2-3">Numbers/Text</a></dd>
  <dd><a href="#panel2-4">About</a></dd>
  </dl>
	<div class="tabs-content">
	  <div class="content active" id="panel2-1">
		<p>{% block content %}{% endblock %}</p>
	  </div>
	  <div class="content" id="panel2-2">
		<p>Under construction</p>
	  </div>
	  <div class="content" id="panel2-3">
		<p>Under construction</p>
	  </div>
	  <div class="content" id="panel2-4">
		<p>CompletlyRandom.info is designed to be a simple time-waster. Its makers can't vouch 
		for the veracity of the facts, quotes or the security of the number and text strings. Use at your own risk. And enjoy.</p>
	  </div>
	</div>
 </div>
 </div>
   

    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
