{% extends "base.html" %}

{% block title %}CompletelyRandom.info{% endblock %}

{% block content %}
  <div class="row">
  <div class="small-12 columns">
  <div class="panel">
  <p><open>{{ info_start }}</open>{{ info_end }} <a href = "{{ link }}">Read more...</a></p>
  </div>
  </div>
  </div>
  <div class="row">
  <div class="small-12 columns">
  <a href="http://completelyrandom.info" class="button expand">New factoid</a>
  </div>
  </div>
{% endblock %}



</body>
</html>
